## Slicing 에서 index 범위 주는 또 다른 방법

- `from_idx:to_idx`
- `from_idx:to_idx:step`
- 그런데, `from_idx`, `to_idx`, `step`을 생략 할 수 있다!
    - 1) `from_idx` 를 생략하는 경우: `from_idx` 가 0으로 알아서 설정됨
    - 2) `to_idx`를 생략하는 경우: `to_idx`가 마지막 인덱스로 알아서 설정됨
    - 3) `step`을 생략하는 경우: `step`이 1로 알아서 설정됨

In [16]:
lst = ['a', 'b', 'c', 'd', 'e']

In [17]:
lst[:2]

['a', 'b']

In [18]:
lst[2:]

['c', 'd', 'e']

In [19]:
# copy
lst[:]

['a', 'b', 'c', 'd', 'e']

In [20]:
# reverse
lst[::-1]

['e', 'd', 'c', 'b', 'a']

In [21]:
lst[::-2]

['e', 'c', 'a']

## Tuple

- `(1, 2, 3)`
- list vs tuple - tuple 은 read 만 가능. write 불가능

In [22]:
lst = [1, 2, 3]
tp = (1, 2, 3)

In [27]:
# List 는 read/write 모두 가능

# Read: (읽기)
lst[0] + 2

2

In [26]:
# write: (수정)
lst[0] = 0
lst

[0, 2, 3]

In [28]:
# Tuple 은 read 만 가능 (write 는 불가능)
tp = (1, 2, 3)

# read 예시: indexing
tp[1]

2

In [29]:
# write
tp[1] = 4

TypeError: 'tuple' object does not support item assignment

## 형변환

- (데이터) 형 (타입) 변환
    - int -> str: 123 -> '123'
    - float -> str: 123.2 -> '123.2'
    - int -> float
    - float -> int
    - str -> int: '123' -> 123
    - str -> float: '123.2' -> 123.2
    - str -> list: "abc" -> `['a', 'b', 'c']`
    - (x) list -> str: `['a', 'b', 'c']` -> "abc"
- 방법
    - x 라는 데이터의 타입을 변환시키고자 해
    - int(x)
    - float(x)

In [30]:
x = 30
float(x)

30.0

In [33]:
y = 30.8
int(y)

30

In [34]:
y = 30.8
str(y)

'30.8'

In [35]:
x = 30
str(x)

'30'

In [36]:
s = 'abc'
list(s)

['a', 'b', 'c']

In [37]:
lst = ['a', 'b', 'c']
str(lst)

"['a', 'b', 'c']"

In [40]:
# ['a', 'b', 'c'] -> 'abc'
lst = ['a', 'b', 'c']
''.join(lst)

'abc'

## String formatting

- 내가 원하는 형식의 스트링을 만드는 행위
- 규칙
    - '(포맷1)(포맷2)' % (값1, 값2)
    - 'yy/mm/dd' % (값y, 값m, 값d)
        - '21/12/12'
        - '21/01/12'
    - `%d`: int format
        - 1) 자리수 정하기
            - %2d
        - 2) 남는 자리수에 어떤 문자를 넣을지
            - %?2d
    - `%lf`: float format
        - `%.2lf`
        - `%.3lf`
    - `%r`: bool format (잘 안쓰긴 함)
    - `%s`: string format

In [41]:
'%d 입니다' % (234342342)

'234342342 입니다'

In [42]:
'%d/%d/%d' % (2021, 4, 25)

'2021/4/25'

In [50]:
'%d/%2d/%d' % (2021, 4, 25)

'2021/ 4/25'

In [51]:
'%d/%02d/%d' % (2021, 4, 25)

'2021/04/25'

In [53]:
'%d/%+2d/%d' % (2021, 4, 25)

'2021/+4/25'

In [43]:
# 박해규 입니다
# 박해봄 입니다
# 박해극 입니다
'%s 입니다' % ('wadu')

'wadu 입니다'

In [47]:
'%r 입니다' % (True)

'True 입니다'

In [49]:
# 3.14는 파이 입니다
'%.2lf는 파이 입니다' % (3.14)

'3.14는 파이 입니다'

In [54]:
s = 'wadu'
sol = 'w a d u'

In [55]:
'%2d' % (3)

' 3'

In [60]:
s = 'wadu'
x = tuple(s)
'%s%2s%2s%2s' % x

'w a d u'

## 주석

- 주석: 코드의 설명
- 주석은 실행은 안됨
- 앞줄에 `#`을 붙이면 됨

In [63]:
# 이 코드는 wadu의 각 레터를 띄어쓴 새로운 스트링을 만드는 코드입니다.

x = 'wadu'
tuple_wadu = tuple(x)
print('%s%2s%2s%2s' % tuple_wadu)

w a d u

In [65]:
'''
여러 라인의 주석 여러 라인의 주석 여러 라인의 주석 
여러 라인의 주석
여러 라인의 주석
여러 라인의 주석
여러 라인의 주석 여러 라인의 주석 여러 라인의 주석
'''
x = 'wadu'
tuple_wadu = tuple(x)
print('%s%2s%2s%2s' % tuple_wadu)

w a d u

In [66]:
"""
여러 라인의 주석 여러 라인의 주석 여러 라인의 주석 
여러 라인의 주석
여러 라인의 주석
여러 라인의 주석
여러 라인의 주석 여러 라인의 주석 여러 라인의 주석
"""
x = 'wadu'
tuple_wadu = tuple(x)
print('%s%2s%2s%2s' % tuple_wadu)

w a d u

## If 문

In [67]:
# 어떤 경우에는 ~를 실행, 어떤 경우에는 ~를 실행하고, ....

- If 문 공식
    ```
    if 경우:
        ㅁㄴㅇㄹㄴ
        if 또다른 경우:
            ㄴㅇㄹ
            ㄴㅇㄹㄴㅇㄹ
        ㅁㄴㅇㄹㅁㅇㄴㄹㅁㄴㅇㄹㅁ
        asdfasdfasdf
    ```
- If Else문 공식
    ```
    if 경우:
        ㅁㄴㅇㄹ
        ㅁㄴㅇㄹ
        ㅁㄴㅇㄹ
    else:
        sdfw
        wer
        sdf
    ```
- If elif 공식
    ```
    if 경우1:
        ㄴㅇㄹㄴㅇㄹㄴㅇㄹ
    elif 경우2:
        ㄴㅁㄹㅇ
    elif 경우3:
        ㅁㅇㄴㄹ
    elif 경우4:
        ㄴㅇㅁㄹㅁㅇㄹ
    else:
        asdf해도되고 안해도 되고
    ```

In [68]:
# x = 1210
# 만약에 x가 11의 배수일 경우에, y 라는 변수에 10을 대입하자. 
# 그리고 y를 프린트 해보자

'''
x = 121000

if (x가 11의 배수일 경우에):
    y 라는 변수에 10을 대입하자
    그리고 y를 프린트 해보자
    
if (x가 10의 배수일 경우에):
    z 라는 변수에 20을 대입하자
    그리고 y + z 를 프린트 해보자
'''

10

In [70]:
'''
x = ???
x 가 6의 배수인 경우에 "6의 배수" 를 프린트하길 원해.
'''

x = 12
if (x % 6 == 0):
    print("6의 배수")

6의 배수

In [73]:
x = 1723478169

if (x % 2 == 0):

    print('%s 는 2의 배수' % (x))
    
    if (x % 20 == 0):
        print("20의 배수")
        
else:
    print('%s 는 2의 배수가 아니다' % (x))

1723478169 는 2의 배수가 아니다

In [76]:
s = 'wadu'

'''
만약에 s에 'a' 가 포함되어 있다면 'aaa' 를 프린트해주고, 
아니면 'xxx' 를 프린트 해줘
'''

print(s)

wadu

In [79]:
'''
어떤 미지수 x가 있어. 
x가 20이면 풀무원을 프린트해
x가 10이면 아이시스를 프린트해
'''

x = 23452345234

if (x == 10):
    print('icis')
elif (x == 20):
    print('pulmuone')
elif (x == 30):
    print('flax seed')
else:
    print('nothing')

nothing